<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <title>host manage</title>
    <style type="text/css">
        #div {width:640px; min-height:480px;padding:10px;border:1px solid #aaaaaa;margin:auto;top:50%}
    </style>
</head>
<body>
<div id="div" align="center">
<form action="{% url 'controller:add_host_submit' %}" onsubmit="return check_host()" method="post">
    {% csrf_token %}
    <p>host ip: <input type="text" name="ip" id="ip" onkeyup="check_ip(this.value)"><label id="ip_label" style="color:red"></label><br /></p>
    <p>username:<input type="text" name="username" id="username" value="root"> <br /></p>
    <p>password:<input type="password" name="passwd" id="passwd" value="Huawei123"> <br /></p>
    <input type="button" value="check" onclick="check_host()"><input type="button" value="delete host" onclick="removeHost()">
    <input type="submit" value="submit"><br />
    <label id="resultlabel" hidden="hidden"></label>
</form>
</div>
<script src="{% static 'controller/js/jquery-3.2.1.min.js' %}"></script>
<script>
    function check_ip(value) {
        iplabel = $("#ip_label")
        var reg = '^(\\d{1,2}|1\\d\\d|2[0-4]\\d|25[0-5])\\.(\\d{1,2}|1\\d\\d|2[0-4]\\d|25[0-5])\\.(\\d{1,2}|1\\d\\d|2[0-4]\\d|25[0-5])\\.(\\d{1,2}|1\\d\\d|2[0-4]\\d|25[0-5])$';
        var m = value.match(reg)
        if(m == null) {
            iplabel.html("Bad IP");
            return false;
        } else {
            iplabel.html("")
            return true;
        }

    }
    function removeHost() {
        var ip = $("#ip").val();
        if(! check_ip(ip)){
            return false;
        }
        $.post(url="{% url 'controller:remove_host' %}",
            data={'ip':ip,
            },
            function(result, status){
            }
        );
    }
    function check_host() {
        var ip = $("#ip").val();
        if (! check_ip(ip)){
            return ;
        }
        var username = $("#username").val()
        var password = $("#passwd").val()
        var result1 = "";
        $.post(url="{% url 'controller:check_host' %}",
            data={'ip':ip,
                'username':username,
                'passwd':password,},
            function(result, status){
                var label = $("#resultlabel");
                if(result == 'Success'){
                    label.html(result);
                    label.css("color","black");
                }else {
                    label.html(result)
                    label.css("color","red");
                };
                    label.removeAttr("hidden");
                    result1 = result;
            }
        );
        if (result1 == 'Success'){
            return true;
        }
        return false;
    }
</script>
</body>
</html>
